fastapi
uvicorn
pydantic
python-multipart
transformers==4.51.3
tokenizers==0.21.1
torch==2.7.1
openvino==2025.1.0
openvino-tokenizers==2025.1.0.0
optimum==1.25.3
optimum-intel==1.23.0
huggingface-hub==0.33.0
numpy==2.2.0
requests==2.32.4